<!DOCTYPE html>
<html>
<head>
<tile>SafeHaven History</tile>

<style>
    body {background-color: rgb(40, 40, 43);
        font-family: 'Trebuchet MS';
      text-align: center;
      margin: 0;
      padding: 0;
      color: white
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      padding: 8px;
      border-bottom: 1px solid gray;
    }


</style>
<body>
    <h1>Your SafeHaven History</h1>

<div id="log">
    <!-- Detection log will be inserted here -->
  </div>


</body>






</head>


</html>